html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

#cache{
	background-color:black;
	position:fixed;
	z-index:10;
	top:0; 
	bottom:0;
	opacity:0.8;
	width: 100%;
	height: 100%;
}

.popUp{
	width: 400px;
	height: 250px;
	background: #FFFFFF;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	position: fixed;
	left: 450px;
	top: 150px;
	z-index: 20;
}

.popUp h2{
	font-size: 2.5em;
	margin: 40px 0px 10px 0px;
}

.popUp p, #popUp a{
	font-size: 1.5em;
	margin: 5px 0px 25px 0px;
}

.popUp a{
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
	background: #007FEB;
	color: #FFFFFF;
	font-size: 1.5em;
}

.hide{
	display: none;
}





