html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-image: url(http://cdn-files.deezer.com/cache/images/pages/index/signup/visual_wide.ec2b8485284290c121d776ad0619d5c4.jpg)
}

.deezer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.deezer::after {
  clear: both;
  content: "";
  display: table;
}
.deezer_wrapper {
  display: block;
  background: #FFF;
  position: relative;
  max-width: 550px;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  margin: 120px auto;
}
.deezer_close {
  display: block;
  position: absolute;
  right: 25%;
  background: url("https://upload.wikimedia.org/wikipedia/commons/8/88/Deezer.svg") no-repeat scroll transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  top: -90px;
  width: 300px;
  height: 67px;
}
.deezer_container {
  overflow: hidden;
  width: 100%;
}
.deezer_container::after {
  clear: both;
  content: "";
  display: table;
}
.deezer_tab {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.deezer_tab-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.deezer_tab.show {
  opacity: 1;
  height: 100%;
  visibility: visible;
}
.deezer_tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.deezer_tabs::after {
  clear: both;
  content: "";
  display: table;
}
.deezer_tabs li.current a {
  background: #FFF;
  color: #333;
}
.deezer_tabs li a {
  width: 50%;
  position: relative;
  float: left;
  text-align: center;
  background: #D2D8D8;
  line-height: 72px;
  height: 72px;
  text-decoration: none;
  color: #809191;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.deezer_tabs li a:focus {
  outline: dotted 1px;
}
.deezer_heading {
  text-align: center;
  padding: 12px 0 12px 0;
}
.deezer_heading-subtitle {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #888;
  line-height: 48px;
}
.deezer_form {
  border-top: 1px solid #e5e5e5;
}
.deezer_alter {
  display: block;
  position: relative;
  margin-top: 7px;
}
.deezer_alter::after {
  clear: both;
  content: "";
  display: table;
}
.deezer_alter .connect:last-child {
  border-radius: 0 0 4px 4px;
}

.connect {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  line-height: 72px;
  text-decoration: none;
}
.connect::after {
  clear: both;
  content: "";
  display: table;
}
.connect:focus, .connect:hover, .connect:visited {
  color: #FFF;
  text-decoration: none;
}
.connect_icon {
  vertical-align: middle;
  float: left;
  width: 70px;
  text-align: center;
  font-size: 22px;
}
.connect_context {
  vertical-align: middle;
  text-align: center;
  margin-bottom:
}
.connect.facebook {
  background: #3b5998;
  color: #FFF;
}
.connect.facebook a {
  color: #FFF;
}
.connect.facebook .connect_icon {
  background: #283d68;
}
.connect.googleplus {
  background: #dd4b39;
  color: #FFF;
}
.connect.googleplus a {
  color: #FFF;
}
.connect.googleplus .connect_icon {
  background: #b52f1f;
}

.simform {
  position: relative;
}
.simform_actions {
  padding: 15px;
  font-size: 14px;
}
.simform_actions::after {
  clear: both;
  content: "";
  display: table;
}
.simform_actions .submit {
  height: 48px;
  float: right;
  color: #FFF;
  width: 50%;
  font-weight: 700;
  font-size: 16px;
  background: #4CAF50;
  margin-top: 7px;
}
.simform_actions .submit::after {
  clear: both;
  content: "";
  display: table;
}
.simform_actions-sidetext {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0 10px;
  margin: 9px 0 0 0;
  color: #8C979E;
  text-align: center;
  line-height: 24px;
}
.simform_actions-sidetext::after {
  clear: both;
  content: "";
  display: table;
}

.sminputs {
  border-bottom: 1px solid #E5E5E5;
}
.sminputs::after {
  clear: both;
  content: "";
  display: table;
}
.sminputs .input {
  display: block;
  position: relative;
  width: 50%;
  height: 71px;
  padding: 11px 24px;
  border-right: 1px solid #e5e5e5;
  border-bottom: none;
  float: left;
  background-color: #FFF;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sminputs .input.active {
  background: #eee;
}
.sminputs .input.active .hide-password {
  background: #eee;
}
.sminputs .input.full {
  width: 100%;
}
.sminputs .input label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  line-height: 24px;
}
.sminputs .input input {
  position: relative;
  display: inline-block;
  height: 24px;
  font-size: 15px;
  line-height: 19.2px;
  color: #555;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: rgba(75, 89, 102, 0.85);
}
.sminputs .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  border-left: 1px solid #e4e4e4;
  font-size: 14px;
  background: #FFF;
  overflow: hidden;
  color: #444;
  cursor: pointer;
  margin-top: 12px;
  line-height: 48px;
}

html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
}

.btn, .simform_actions .submit {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
  outline-offset: 0;
  font-weight: 400;
  box-shadow: none;
  min-width: 90px;
  padding: 10px 14px;
}
.btn.full, .simform_actions .full.submit {
  width: 100%;
}
.btn.lg, .simform_actions .lg.submit {
  min-width: 125px;
  padding: 17px 14px;
  font-size: 22px;
  line-height: 1.3;
}
.btn.sm, .simform_actions .sm.submit {
  min-width: 65px;
  padding: 4px 12px;
  font-size: 14px;
}
.btn.xs, .simform_actions .xs.submit {
  min-width: 45px;
  padding: 2px 10px;
  font-size: 10px;
  line-height: 1.5;
}
.btn.circle, .simform_actions .circle.submit {
  overflow: hidden;
  width: 56px;
  height: 56px;
  min-width: 56px;
  line-height: 1;
  padding: 0;
  border-radius: 50%;
}
.btn.circle.lg, .simform_actions .circle.lg.submit {
  width: 78px;
  height: 78px;
  min-width: 78px;
}
.btn.circle.sm, .simform_actions .circle.sm.submit {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.btn.circle.xs, .simform_actions .circle.xs.submit {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.btn:focus, .simform_actions .submit:focus, .btn:active, .simform_actions .submit:active, .btn.active, .simform_actions .active.submit, .btn:active:focus, .simform_actions .submit:active:focus, .btn.active:focus, .simform_actions .active.submit:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
.btn.red, .simform_actions .red.submit {
  background: #f44336;
  color: #FFF;
}
.btn.red:active, .simform_actions .red.submit:active, .btn.red:focus, .simform_actions .red.submit:focus {
  background-color: #ef1d0d;
}
.btn.red:hover, .simform_actions .red.submit:hover {
  background-color: #f32c1e;
}
.btn.pink, .simform_actions .pink.submit {
  background: #E91E63;
  color: #FFF;
}
.btn.pink:active, .simform_actions .pink.submit:active, .btn.pink:focus, .simform_actions .pink.submit:focus {
  background-color: #c61350;
}
.btn.pink:hover, .simform_actions .pink.submit:hover {
  background-color: #d81558;
}
.btn.purple, .simform_actions .purple.submit {
  background: #9C27B0;
  color: #FFF;
}
.btn.purple:active, .simform_actions .purple.submit:active, .btn.purple:focus, .simform_actions .purple.submit:focus {
  background-color: #7b1f8a;
}
.btn.purple:hover, .simform_actions .purple.submit:hover {
  background-color: #89229b;
}
.btn.deep-purple, .simform_actions .deep-purple.submit {
  background: #673AB7;
  color: #FFF;
}
.btn.deep-purple:active, .simform_actions .deep-purple.submit:active, .btn.deep-purple:focus, .simform_actions .deep-purple.submit:focus {
  background-color: #532f94;
}
.btn.deep-purple:hover, .simform_actions .deep-purple.submit:hover {
  background-color: #5c34a4;
}
.btn.indigo, .simform_actions .indigo.submit {
  background: #3F51B5;
  color: #FFF;
}
.btn.indigo:active, .simform_actions .indigo.submit:active, .btn.indigo:focus, .simform_actions .indigo.submit:focus {
  background-color: #334293;
}
.btn.indigo:hover, .simform_actions .indigo.submit:hover {
  background-color: #3849a2;
}
.btn.blue, .simform_actions .blue.submit {
  background: #2196F3;
  color: #FFF;
}
.btn.blue:active, .simform_actions .blue.submit:active, .btn.blue:focus, .simform_actions .blue.submit:focus {
  background-color: #0c7fda;
}
.btn.blue:hover, .simform_actions .blue.submit:hover {
  background-color: #0d8aee;
}
.btn.light-blue, .simform_actions .light-blue.submit {
  background: #03A9F4;
  color: #FFF;
}
.btn.light-blue:active, .simform_actions .light-blue.submit:active, .btn.light-blue:focus, .simform_actions .light-blue.submit:focus {
  background-color: #028ac7;
}
.btn.light-blue:hover, .simform_actions .light-blue.submit:hover {
  background-color: #0398db;
}
.btn.cyan, .simform_actions .cyan.submit {
  background: #00BCD4;
  color: #FFF;
}
.btn.cyan:active, .simform_actions .cyan.submit:active, .btn.cyan:focus, .simform_actions .cyan.submit:focus {
  background-color: #0093a6;
}
.btn.cyan:hover, .simform_actions .cyan.submit:hover {
  background-color: #00a5bb;
}
.btn.teal, .simform_actions .teal.submit {
  background: #009688;
  color: #FFF;
}
.btn.teal:active, .simform_actions .teal.submit:active, .btn.teal:focus, .simform_actions .teal.submit:focus {
  background-color: #00685e;
}
.btn.teal:hover, .simform_actions .teal.submit:hover {
  background-color: #007d71;
}
.btn.green, .simform_actions .green.submit {
  background: #4CAF50;
  color: #FFF;
}
.btn.green:active, .simform_actions .green.submit:active, .btn.green:focus, .simform_actions .green.submit:focus {
  background-color: #3e8f41;
}
.btn.green:hover, .simform_actions .green.submit:hover {
  background-color: #449d48;
}
.btn.light-green, .simform_actions .light-green.submit {
  background: #8BC34A;
  color: #FFF;
}
.btn.light-green:active, .simform_actions .light-green.submit:active, .btn.light-green:focus, .simform_actions .light-green.submit:focus {
  background-color: #74a838;
}
.btn.light-green:hover, .simform_actions .light-green.submit:hover {
  background-color: #7eb73d;
}
.btn.lime, .simform_actions .lime.submit {
  background: #CDDC39;
  color: #FFF;
}
.btn.lime:active, .simform_actions .lime.submit:active, .btn.lime:focus, .simform_actions .lime.submit:focus {
  background-color: #b6c423;
}
.btn.lime:hover, .simform_actions .lime.submit:hover {
  background-color: #c6d626;
}
.btn.yellow, .simform_actions .yellow.submit {
  background: #FFEB3B;
  color: #FFF;
}
.btn.yellow:active, .simform_actions .yellow.submit:active, .btn.yellow:focus, .simform_actions .yellow.submit:focus {
  background-color: #ffe60d;
}
.btn.yellow:hover, .simform_actions .yellow.submit:hover {
  background-color: #ffe822;
}
.btn.amber, .simform_actions .amber.submit {
  background: #FFC107;
  color: #FFF;
}
.btn.amber:active, .simform_actions .amber.submit:active, .btn.amber:focus, .simform_actions .amber.submit:focus {
  background-color: #d8a200;
}
.btn.amber:hover, .simform_actions .amber.submit:hover {
  background-color: #edb100;
}
.btn.orange, .simform_actions .orange.submit {
  background: #FF9800;
  color: #FFF;
}
.btn.orange:active, .simform_actions .orange.submit:active, .btn.orange:focus, .simform_actions .orange.submit:focus {
  background-color: #d17d00;
}
.btn.orange:hover, .simform_actions .orange.submit:hover {
  background-color: #e68900;
}
.btn.deep-orange, .simform_actions .deep-orange.submit {
  background: #FF5722;
  color: #FFF;
}
.btn.deep-orange:active, .simform_actions .deep-orange.submit:active, .btn.deep-orange:focus, .simform_actions .deep-orange.submit:focus {
  background-color: #f33a00;
}
.btn.deep-orange:hover, .simform_actions .deep-orange.submit:hover {
  background-color: #ff4409;
}
.btn.brown, .simform_actions .brown.submit {
  background: #795548;
  color: #FFF;
}
.btn.brown:active, .simform_actions .brown.submit:active, .btn.brown:focus, .simform_actions .brown.submit:focus {
  background-color: #5c4137;
}
.btn.brown:hover, .simform_actions .brown.submit:hover {
  background-color: #694a3e;
}
.btn.grey, .simform_actions .grey.submit {
  background: #9E9E9E;
  color: #FFF;
}
.btn.grey:active, .simform_actions .grey.submit:active, .btn.grey:focus, .simform_actions .grey.submit:focus {
  background-color: #878787;
}
.btn.grey:hover, .simform_actions .grey.submit:hover {
  background-color: #919191;
}
.btn.blue-grey, .simform_actions .blue-grey.submit {
  background: #607D8B;
  color: #FFF;
}
.btn.blue-grey:active, .simform_actions .blue-grey.submit:active, .btn.blue-grey:focus, .simform_actions .blue-grey.submit:focus {
  background-color: #4d6570;
}
.btn.blue-grey:hover, .simform_actions .blue-grey.submit:hover {
  background-color: #566f7c;
}

.special {
  color: #f44336;
  position: relative;
  text-decoration: none;
  transition: all 0.15s ease-out;
}
.special:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0;
  background: #f00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.special:hover {
  transition: all 0.15s ease-out;
}
.special:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#baseline {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-image: url(http://basehold.it/i/24);
}