body {
  position: relative;
  color: #FFF;
  background-color:#FFF;
  font-family: "Open Sans", Arial, sans-serif;
}

#right,
#left {
  position: fixed;
  background-color: #23232c;
  width: 220px;
  height: 100%;
  font-size: 13px;
  z-index: 10;
}


/**** MENUS ****/

#left a,
#right a {
  color: #c1c1c9;
}

#left li,
#right li {
  padding: 3px 9px 3px 16px;
}

#left li:hover,
#right li:hover {
  background-color: #1f1f29;
}

#left li:hover a,
#right li:hover a {
  color: #FFF;
  text-decoration: none;
}


/***************************
        MENU GAUCHE 
****************************/

/**** LOGO ****/

header #logo {
  text-align: center;
  padding: 10px 5px;
  margin-left: 30px;
  display: inline-block;
}

header #logo img {
  width: 130px;
}

/**** HAMBURGER ****/

#hamburger {
  margin-bottom: -10px;
  margin-left: 5px;
  background-image: url(../images/icones-menu/hamburger.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
}

/**** SEARCH ****/

#searchBar form {
  margin-left: 18px;
  margin-bottom: 10px;
}

#searchBar #search {
  border: none;
  background-color: #23232c;
  padding-left: 6px;
  border-left: solid 2px #8c8c91;
}

#searchBar #submit {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background: url(../images/icones-menu/search.png) no-repeat right;
  background-size: 12px 12px;
  margin-left: -23px;
  border: none;
  background-color:#23232c;
}

#searchBar form a {
  margin-right: 5px;
}


/**** MENU ****/

#menuNav ul{
  margin-bottom: 0px;
}

#left nav#menuNav a {
  padding: 5px 37px;
  display: block;
}

#left li:hover,
#right li:hover {
  background-color: #1f1f29;
}

#left a,
#right a {
  color: #c1c1c9;
}

#left li:active a,
#right li:active a {
  text-decoration: none;
}

/**** Icones Menu ****/

#left li a {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;
}

li#accueil a {
  background-image: url(../images/icones-menu/accueil.png);
}

li#a_ecouter a {
  background-image: url(../images/icones-menu/a_ecouter.png);
}

li#nouveautes a {
  background-image: url(../images/icones-menu/nouveautes.png);
}

li#top_playlists a {
  background-image: url(../images/icones-menu/top_playlists.png);
}

li#mix a {
  background-image: url(../images/icones-menu/mix.png);
}

li#infos a {
  background-image: url(../images/icones-menu/infos.png);
}

/**** THEME ****/

#theme{
  display: none;
}

/******** FLOW ********/

#flow {
margin-top: 10px;
}

#flow figure{
  display: inline-block;
  height: 76px;
  width: 86px;
  background: url(../images/flow-bg.jpg) no-repeat left;
  background-size: 81px 76px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}

#flow figcaption{
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 42px 42px;
}

#flow div {
  height: 76px;
  vertical-align: middle;
  display: inline-block;
  width: 100px;
  border-top: solid 2px #2e2e37;
  border-bottom: solid 2px #2e2e37;
  margin-left: 5px;
}

#flow h4, #flow h6 {
  text-align: left;
}

#flow h6 {
  margin-top: 12px;
}

#flow h4 {
  margin-bottom: 0px;
  margin-top: 6px;
}

/**** Personnaliser ****/

#personnaliser {
 background: url(../images/icone-personnaliser.png) no-repeat left;
  background-size: 13px 13px;
  padding: 0px 20px;
  width: 115px;
  margin: auto;
  margin-top: 15px;
  color: rgba(194, 194, 202, 0.3);
  cursor: not-allowed;
}

#left button.subscribe{
  padding: 3px 30px;
  margin-left: 30px;
  margin-top: 13px;
}

.subscribe {
  background-color: #007feb;
  border-radius: 5px;
  padding: 4px 15px;
  text-transform: uppercase;
  margin: 13px 16px;
}

/**** PLAYING ****/

#playing img{
  width: 100%;
}

#playing div{
width: 100%;
  margin-top: 5px;
}

#playing #title {
  text-align: left;
}
#playing #artist{
  margin-left: 13px;
  font-weight: 100;
  text-align: left;
}

#playing #album{
  font-style: italic;
  margin-top: 5px;
}


/**** MENU GAUCHE SMALL ****/

.reduced #logo{
  display: none;
}

.reduced #hamburger {
  margin-top: 10px;
  margin-left: 10px;
}

.reduced #searchBar {
  display: none;
}

.reduced #menuNav {
  margin-top: 20px;
}

.reduced #menuNav a{
  color: #FFF;
}

.reduced #flow {
  display: none;
}

.reduced #personnaliser {
  display: none;
}

.reduced button.subscribe {
  display: none;
}

.reduced #playing {
  display: none;
}

/*************************
        MENU DROIT 
**************************/

section#right {
  position: fixed;
  right: 0;
  width: 150px;
  font-size: 11px;
}

#user {
  margin: 10px 15px;
}

#user img {
  border-radius: 50px;
  margin-right: 5px;
}

#user a:nth-child(1) {
  margin-right: 22px;
}

#profilNav a {
  padding-left: 10px;
  padding: 5px;
  display: block;
}

#ma_musique {
  margin-bottom: 10px;
}

#ma_musique a {
  background-image: url(../images/icones-menu/ma_musique.png);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: left;
  padding-left: 25px;
}

#playlists {
  margin-bottom: 10px;
}

#playlists a {
  padding: 2px;
}

#arrow {
  background-image: url(../images/icones-menu/playlist-arrow.png);
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  background-size: contain;
  display: inline-block;
  margin-left: 10px;
}

.arrowRotate:active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/**** SUGGESTIONS ****/

#suggestions {
  margin-top: 15px;
}

#suggestions span {
  padding-left: 23px;
  margin-left: 13px;
  text-transform: uppercase;
  background-image: url(../images/icones-menu/suggestions.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  color: #c1c1c9;
}

#suggestions ul {
  color: #c1c1c9;
  margin-top: 5px;
  padding-left: 10px;
  margin-top: 10px;
}

#suggestions a {
  background-image:url(../images/suggestion-twitter.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px 18px;
  display: block;
  padding: 10px 0px 10px 25px;
}

#suggestions button {
  background-color: #23232c;
  border: solid 2px #c1c1c9;
  border-radius: 0px;
  margin-left: 20px;
  padding: 5px 25px;
  color: #c1c1c9;
  font-size: 12px;
  margin-top: 5px;
}