body {
  position: relative;
  color: #FFF;
  background-color:#FFF;
  font-family: "Open Sans", Arial, sans-serif;
}

#right,
#left {
  position: fixed;
  background-color: #23232c;
  width: 220px;
  height: 100%;
  font-size: 13px;
  z-index: 10;
}


/**** MENUS ****/

#left a,
#right a {
  color: #c1c1c9;
}

#left li,
#right li {
  padding: 3px 9px 3px 16px;
}

#left li:hover,
#right li:hover {
  background-color: #1f1f29;
}

#left li:hover a,
#right li:hover a {
  color: #FFF;
  text-decoration: none;
}


/***************************
        MENU GAUCHE 
****************************/



#reducedleft{
  display: none;
font-family: "Open Sans", Arial, sans-serif;
  position: fixed;
  background-color: #23232c;
  width: 70px;
  height: 100%;
  font-size: 13px;
}

/**** LOGO ****/

header #logo {
  text-align: center;
  padding: 10px 5px;
  margin-left: 30px;
  display: inline-block;
}

header #logo img {
  width: 130px;
}

/**** HAMBURGER ****/

#hamburger {
  margin-bottom: -10px;
  margin-left: 5px;
  background-image: url(../images/hamburger.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
}

/**** SEARCH ****/

#search form {
  text-align: center;
  margin-bottom: 10px;
}

#search #textinput {
  background-color: #d1d1d7;
  color: #42424d;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  width: 180px;
}

#search #loupe {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-image: url(../images/loupe.png);
  background-repeat: no-repeat;
  margin-left: -23px;
  border: none;
  background-color: #d1d1d7;
}

#menuNav ul{
  margin-bottom: 0px;
}

#left nav#menuNav a {
  padding: 5px 37px;
  display: block;
}


/**** MENUS ****/

#left li:hover,
#right li:hover {
  background-color: #1f1f29;
}

#left a,
#right a {
  color: #c1c1c9;
}

#left li:active a,
#right li:active a {
  text-decoration: none;
}

.activeMenu {
  background-color: #1c1c25;
  border-left: solid 2px #007feb;
}


/**** Icones Menu ****/

#left li a {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;
}

li#accueil a {
  background-image: url(../images/accueil.png);
}

li#ecouter a {
  background-image: url(../images/a_ecouter.png);
}

li#nouveautes a {
  background-image: url(../images/nouveautes.png);
}

li#top_playlists a {
  background-image: url(../images/top_playlists.png);
}

li#mix a {
  background-image: url(../images/mix.png);
}

li#infos a {
  background-image: url(../images/infos_et_divertissements.png);
}

/**** THEME ****/

#theme{
  display: none;
}

/**** FLOW ****/

#flow {
  border-top: solid 1px #292933;
  border-bottom: solid 2px #292933;
  margin: 0px 25px;
  padding: 0px 10px;
}

#flow figure{
  margin: 0px 15px;
  text-align: center;
  width: 190px;
  height: 66px;
  background-image: url(../images/flow-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  color: #FFF;
  position: relative;
  cursor: pointer;
}

#flow figcaption{
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-position: left;
}

#flow h4, #flow h6 {
  text-align: left;
  padding-left: 40px;
}

#flow h6 {
  margin-top: 3px;
}

#flow h4 {
  padding-top: 5px;
  margin-bottom: 0px;
}

#personnaliser {
  background-image: url(../images/personnaliser.png);
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: left;
  padding: 0px 20px;
  width: 115px;
  margin: auto;
  margin-top: 15px;
}

#left button.subscribe{
  padding: 3px 30px;
  margin-left: 30px;
  margin-top: 20px;
}

.subscribe {
  background-color: #007feb;
  border-radius: 5px;
  padding: 4px 15px;
  text-transform: uppercase;
  margin: 13px 16px;
}

/**** PLAYING ****/

#playing h6:nth-child(4){
  font-style: italic;
}

/*************************
        MENU DROIT 
**************************/

section#right {
  position: fixed;
  right: 0;
  width: 150px;
  font-size: 11px;
}

#user {
  margin: 10px 15px;
}

#user img {
  border-radius: 50px;
  margin-right: 5px;
}

#user a:nth-child(1) {
  margin-right: 22px;
}

#profilNav a {
  padding-left: 10px;
  padding: 5px;
  display: block;
}

#ma_musique {
  margin-bottom: 10px;
}

#ma_musique a {
  background-image: url(../images/ma-musique.png);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: left;
  padding-left: 25px;
}

#playlists {
  margin-bottom: 10px;
}

#playlists a {
  padding: 2px;
}

#arrow {
  background-image: url(../images/uparrow.png);
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  background-size: contain;
  display: inline-block;
  margin-left: 10px;
}

.arrowRotate:active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/**** SUGGESTIONS ****/

#suggestions {
  margin-top: 15px;
}

#suggestions span {
  padding-left: 23px;
  margin-left: 13px;
  text-transform: uppercase;
  background-image: url(../images/suggestions.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  color: #c1c1c9;
}

#suggestions ul {
  color: #c1c1c9;
  margin-top: 5px;
  padding-left: 10px;
  margin-top: 10px;
}

#suggestions a {
  background-image:url(../images/suggestion-twitter.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px 18px;
  padding: 10px 0px 10px 25px;
  display: block;
}

#suggestions button {
  background-color: #23232c;
  border: solid 2px #c1c1c9;
  border-radius: 0px;
  margin-left: 20px;
  padding: 5px 25px;
  color: #c1c1c9;
  font-size: 12px;
  margin-top: 5px;
}

/*************************
        PLAYER 
**************************/

#player {
  position: fixed;
  bottom: 0px;
  
}