.page {
  position: absolute;
  padding: 30px 60px 100px 60px;
  display: none;
  left: 220px;
  right: 150px;
  background-color: #FFF;
   width: 100%;
  height: 100%;
  color: #23232c;
}

.page h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.page h2 span {
  font-size: 16px;
  color: #72727d;
  padding-left: 28px;
  border-left: 1px solid #4e5152;
  font-weight: 300;
  margin-left: 18px;
}

/*.navPage {
  margin-left: 100px;
  margin-bottom: 30px;
}*/

.navPage a{
  color: #23232c;
  text-decoration: none;
  margin-right: 160px;
}

.coverPrincipale{
  width: 200px;
  border: 1px solid black;
}

.cover{
  width: 170px;
  margin: 10px;
}

.clearBoth{
  clear: both;
}

.button{
  font-size: 11px;
  border: 1px solid #23232c;
  border-radius: 4px;
  padding: 3px 5px;
  text-align: center;
  margin: auto;
}

.button:hover{
  color: #FFF;
  background-color: #23232c;
}

/****** PAGE D'ACCUEIL *******/

#page-accueil {
  position: absolute;
  left: 220px;
  z-index: -1;
  display: block;
  right: 150px;
}

.left{
  display: block;
  float: left;
  width: 393px;
  height: 190px;
}

.right{
  float: right;
  width: 393px;
  height: 190px;
}

#accueilFlow{
  position : relative;
}

.flowText {
  font-size: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  position: absolute;
  color: #FFF;
  top: 40px;
  left: 20%;
}

.playButtonFlow{
  position: absolute;
  top: 85px;
  left: 21.5%;
}

.flowSong{
  position: absolute;
  font-size: 11px;
  top: 100px;
  left: 72%;
  color: #FFF;
}

.flowSong p{
  margin-bottom: -1px;
}

.gif{
  position: absolute;
  left: 70%;
  width: 100px;
}

#accueilFlow figcaption {
  margin-top: -150px;
  font-size: 25px;
}

.accueilContent{
  text-align: center;
}

.ongletsAccueil{
  font-size: 15px;
  color: #23232c;
  display: inline-block;
  margin: 50px 40px;
}

.ongletsAccueil:hover{
  color: #26c3f5;
}

#page-accueil h4{
  text-align: left;
  color: #23232c;
  font-size: 12px; 
  margin-bottom: 30px;
}

.exclusiveCover{
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.new{
  position: absolute;
  font-size: 8px;
  left: 12px;
  top: 85%;
  color: white;
  font-weight: 600;
  background-color: #ee1e23;
  padding: 3px 6px;
}

.popular{
  position: absolute;
  font-size: 8px;
  color:  #23232c;
  font-weight: 800;
  transform:rotate(330deg); 
  top: 15px;
  left: 0px;
}

.newAlbum{
  position: absolute;
  font-size: 8px;
  top: 85%;
  right: 12px;
  color: white;
  font-weight: 600;
  background-color: #23232c;
  padding: 3px 6px;
}

.exclu{
  position: absolute;
  font-size: 8px;
  color: #ee1e23;
  font-weight: 800;
  transform:rotate(330deg); 
  top: 15px;
  left: 0;
}

.infos{
  color: #23232c;
  font-size: 9px;
  display: inline-block;
  margin-left: 20px;
  padding: 20px;
}

.infos2{
  color: #23232c;
  font-size: 9px;
  display: inline-block;
  margin-right: 20px;
  padding: 20px;
}

.red{
  color: #ee1e23;
}


#actuAccueil{
  display: inline-block;
  float: left;
}

#playlistAccueil{
  color: #23232c;
  display: inline-block;
  float: right;
  font-size: 9px;
  width: 250px;
}

.black{
  background-color: #23232c;
  color: #ffffff;
  padding: 2px 4px;
}

.subtitle{
  text-transform: uppercase;
  margin-left: 20px;
}

.mini{
  font-size: 8px;
  color: #72727d;
}

.play{
  width: 15px;
}

.newPlaylist{
  margin-top: 20px;
  margin-bottom: 10px;
}

.coverPlaylistAccueil{
  float: left;
  width: 70px;
  margin-right: 10px;
}

#playlistAccueil div{
  margin-top: 5px;
}

.filet{
  border-top: 1px solid #FFF; 
  margin: 20px;
}

#mixAccueil{
  margin-top: 30px;
}

/*************************
        PAGE INFOS 
**************************/

#actu1{
  margin-bottom: 20px;
}

#page-ecouter h4{
  font-size: 13px;
  font-weight: 600;
  display: inline;
}

#page-ecouter p{
  font-size: 11px;
}

.secondaryText{
  color: #73737b;
}

.italicText{
  color: #73737b;
  font-style: italic;
}

.line{
  border-bottom: 1px solid #73737b;
  width: 150px;
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}

.line2{
  border-bottom: 1px solid #73737b;
  width: 120px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.petitFilet{
    border-top: 1px solid #FFF; 
  margin: 10px;
}

.down{
  margin-top: 10px;
}

/*************************
        PAGE INFOS 
**************************/

#page-nouveautes h2{
  color: #ee1e23;
}

#navInfos a:hover{
  color: #ee1e23;
}

#page-infos h5{
  font-size: 14px;
  text-align: center;
}

#page-infos .square{
  height: 230px;
}

/*************************
        PAGE MIX 
**************************/

#page-mix h2 {
  font-size: 30px;
  font-weight: 600;
  color: #26c3f5;
  margin-bottom: 30px;
}

#navMix a:hover{
  color: #26c3f5;
}

#preferences {
  position: relative;
}

#preferences div{
  height: 200px;
  background-color: #7b7f82;
}

#preferences h3{
  position: absolute;
  padding-top: 10px;
  left: 30%;
  padding-bottom: 100px;
  background: url(../images/MergedLayers.png) no-repeat bottom;
}

.square {
  height: 200px;
}

#row2, #row3 {
  padding-top: 20px;
}

/*************************
        PAGE INFOS 
**************************/

#page-infos h2{
  color:#ee9229;
}

#navInfos a:hover{
  color: #ee9229;
}

#page-infos h5{
  font-size: 14px;
  text-align: center;
}

#page-infos .square{
  height: 230px;
}