.page {
  position: absolute;
  padding: 30px 60px 100px 60px;
  display: none;
  left: 220px;
  right: 150px;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  color: #23232c;
}

.page h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.page h2 span {
  font-size: 16px;
  color: #72727d;
  padding-left: 28px;
  border-left: 1px solid #4e5152;
  font-weight: 300;
  margin-left: 18px;
}

.navPage {
  margin-bottom: 30px;
  
}

.navPage a {
  color: #23232c;
  text-decoration: none;
}

.coverPrincipale {
  width: 200px;
  border: 1px solid black;
}

.cover {
  width: 170px !important;
  margin: 10px;
}

.playCover {
  width: 30px;
}

.clearBoth {
  clear: both;
}

.button {
  font-size: 11px;
  border: 1px solid #23232c;
  color: #23232c;
  /* modif margaux */
  border-radius: 4px;
  padding: 3px 5px;
  text-align: center;
  color: #23232c;
}

.button:hover {
  color: #FFF;
  background-color: #23232c;
}

.filet {
  border-top: 1px solid #FFF;
  margin: 20px;
}

.petitFilet {
  border-top: 1px solid #FFF;
  margin: 10px;
}

.love {
  width: 10px;
  margin-right: 25px;
  margin-left: 10px;
}

.more {
  width: 12px;
  margin-right: 25px;
}

.plus {
  width: 12px;
  margin-right: 25px;
}

/*--------------------*\
	le coups coeur
\*--------------------*/

.music {
  position: relative;
  width: 170px !important;
  height: 170px !important;
  margin-right: 25px;
  margin-bottom: 25px;
}

.textCover {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 25px;
  top: -10px;
  background: rgba(42, 42, 42, 0.5);
  text-align: center;
}

.music span{
	font-size: 0.8em;
	position: absolute;
	display: none;
}

.music .song{
	top: 60px;
	left: 35px;
}

.music .artist{
	left: 35px;
	top: 40px;
 text-decoration: underline;
}

.music:hover span{
	display: block;
	color: #FFF;
	z-index: 20px;
	font-style: italic;
.pauseMusic {
  margin-left: 5px;
}
/*--------------------*\
	le coups coeur
 				Fin

\*--------------------*/

.playMusic {
  width: 40px !important;
  padding-top: 30px;
  margin-right: 5px;
}

#page-nouveautes .playMusic, #page-nouveautes .pauseMusic {
  width: 40px;
  padding-top: 65px;
}

#page-top_playlists .playMusic, #page-top_playlists .pauseMusic {
  width: 40px;
  padding-top: 65px;
}

.informationsChansons {
  padding-top: 25px;
  color: #FFF;
  font-size: 10px;
  text-align: center;
}

.informationsChansons p {
  margin-bottom: -1px;
}

.icones {
  color: #FFF;
  padding-top: 10px;
}

.icones span {
  padding-left: 17px;
  padding-right: 17px;
}


.square {
  height: 200px;
}

/***** Menus déroulants *****/

.navPage {
  margin-bottom: 30px;
  
}

.navPage a {
  color: #23232c;
  text-decoration: none;
}

.navPage li{
  position: relative;
}

.genres ul{
  position: absolute;
  display: none;
  top : 0px;
  left: 75%;
  background: #FFF;
  z-index: 5;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  border: 1px solid #ABABAB;
  width: 145px;
}

.genres:hover ul{
  display: block;
}

.genres ul li{
  text-transform: lowercase;
  font-size: 12px;
  list-style:none;
  text-align: left;
}

#previous{
  width: 15px !important;
  margin-bottom: 2px;
}

#nextious{
  width: 15px !important;
  margin-bottom: 2px;
}

/* Coeurs */

.fa-heart {
  color: white;
}

.fa-heart:hover{
  color: red;
  transition: 1s all ease;
}

.fa-heart.liked {
  color: red;
}

.selected{
  font-size: 12px;
  margin-left: 10px;
  text-transform: lowercase;
  color: darkgray;
}

.margin{
  margin-bottom: 50px;
}

#page-likes .artist{
  font-size: 12px;
  margin-right: 5px;
}

#page-likes .song{
  font-size: 12px;
  font-weight: 600;
}

#page-likes .music{
  margin-top: 20px;
  padding-left: 20px;
}

#page-likes .textCover{
  margin-top: 20px;
  margin-left: 5px;
}

#page-likes .playMusic{
  margin-top: 30px;
}