/*************************
        PAGE INFOS 
**************************/

#page-infos h2{
  color:#ee9229;
}

#page-infos .navPage a:hover{
  color: #ee9229;
}

#page-infos h5{
  font-size: 12px;
  margin-top: 20px;
  margin-left: 10px;
}

#page-infos .square{
  height: 230px;
}

.coverPodcast{
  margin-top: 43px;
}

.PodcastCover{
  padding-top: 20px;
}

#page-infos .square {
  height: 400px;
}