html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}


/*---------------*\

Le player

\*---------------*/

.playerUltime{	
	position: relative;
	padding: 5px;
	background: RGBa(123, 127, 130, 0.5);
}


span{
	cursor: pointer;
	color: #FFF;
	margin-left: 10px;
}

/*---------------*\

La bar de progression

\*---------------*/

#progressBarControl{
	position: absolute;
	display: inline-block;
	width: 300px;
	left: 90px;
	top: 14px;
	background: #454545;
}

#progressBar{
	width: 0px;
	position: relative;
	height: 2px;
}

#cercle{
	display: inline-block;
	position: absolute;
	height: 7px;
	width: 7px;
	right: 0;
	top: -3px;
	background: #FFF;
	border-radius: 50px;
}

#progressTime{
	position: absolute;
	left: 400px;
}

/*---------------*\

Le volume

\*---------------*/

#sound{
	position: relative;
	margin-left: 460px;
	margin-top: -18px;
	font-size: 1.2em;
}

.vol{
	position: absolute;
	left: -17px;
	font-size: 0.6em;
}

#minus{
	bottom: -2px;
}

#plus{
	top: -2px;
}

#alea{
	position: absolute;
	margin-left: 4px;
	left: 500px;
	top: 8px;
}
/*---------------*\

cacher et afficher
des éléments

\*---------------*/

.active {
	display: inline-block;
}

.hide{
	display: none;
}