body {
  background-color: #C8C8C8;
  transition: background-color 0.5s ease;
}


/*---------------*\
Le cache
\*---------------*/

#cache {
  background-color: black;
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}


/*-------------------*\

Le style des popUp	

\*-------------------*/

.popUp {
  width: 400px;
  height: 250px;
  background: #FFFFFF;
  color: #454545;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 450px;
  top: 150px;
  z-index: 20;
}

.popUp h2 {
  font-size: 2.5em;
}

.popUp p {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.popUp h4 {
  margin-bottom: 15px;
}

.popUp a {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  background: #007FEB;
  color: #FFFFFF;
  font-size: 1.5em;
}

.hide {
  display: none;
}